@{
    Layout = null;
}


<div class="col-md-3">
    <!-- Heading -->
    <div class="menuHeading">
        <h4>كل التصنيفات</h4>
    </div>
    <!-- Panel -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        سيارات ومركبات <i class="fa fa-chevron-down pull-left"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">سيارات</a>
                        </li>
                        <li>
                            <a href="#">اكسسوارات السيارات</a>
                        </li>
                        <li>
                            <a href="#"> وسائل نقل أخرى</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        عقارات <i class="fa fa-chevron-left pull-left"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">item1</a>
                        </li>
                        <li>
                            <a href="#">item2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        موبايلات واكسسواراتها <i class="fa fa-chevron-left pull-left"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">item1</a>
                        </li>
                        <li>
                            <a href="#">item2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>