<div class="page-title-area"
  [style.backgroundImage]="'url(https://saudiceos.com'+ serviceItem?.backgroundImage +')'">
  <div class="container">
    <div class="page-title-content">
      <h2>تفاصيل الخدمة</h2>
    </div>
  </div>
</div>

<section class="blog-details-area ptb-100">
  <div class="container">
    <div class="contact-inner">
      <div class="blog-details-desc">
        <div class="row">
          <div class="col-lg-8 col-12 d-flex align-items-center">
            <div class="article-content mb-3">
              <div class="entry-meta">
                <ul>
                  <li>{{serviceItem?.name}}</li>
                </ul>
              </div>
              <h3>{{serviceItem?.title}}</h3>
              <div [innerHTML]="serviceItem?.description"></div>
              <div class="banner-btn mt-4">
                <div class="d-flex">
                  <a href="{{serviceItem?.link}}" class="default-btn ms-2">
                    رابط الخدمة
                  </a>
                  <a *ngIf="serviceItem?.code" href="{{serviceItem?.link}}" class="default-btn discount">
                    كود الخصم
                    <div class="d-inline-block fw-bold me-2">{{serviceItem?.code}}</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="article-image">
              <div id="slide" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let item of imageSlide; let i = index"
                    [ngClass]="{'active' : i == 0}">
                    <img [src]="'https://saudiceos.com' + item " class="d-block w-100" alt="image">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
