<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="SaudiceosEntities" connectionString="metadata=res://*/SaudiceosModel.csdl|res://*/SaudiceosModel.ssdl|res://*/SaudiceosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALI-SHEHATA;initial catalog=Saudiceos;user id=sa;password=Ali.almasre31;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="SaudiceosEntities" connectionString="metadata=res://*/Saudiceos.csdl|res://*/Saudiceos.ssdl|res://*/Saudiceos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALI-SHEHATA;initial catalog=Saudiceos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>