@{ 
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0021)http://saudiceos.com/ -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="">
    <!--<base href="http://saudiceos.com/">-->
    <base href=".">
    <title>الرؤساء التنفيذيون السعوديون</title>
    <meta name="description" content="وصف الموقع">
    <meta name="keywords" content="one,two,three,four">

    <link rel="icon" href="http://saudiceos.com/assetssite/images/logo.png">
    <link rel="stylesheet" href="./Content/saudiceos_files/custome.css">
    <link rel="stylesheet" href="./Content/saudiceos_files/style.css">
    <script type="text/javascript" async="" src="./Content/saudiceos_files/analytics.js.download"></script>
    <script src="./Content/saudiceos_files/jquery.min.js.download"></script>
    <link rel="stylesheet" href="./Content/saudiceos_files/jssocials.css">
    <script type="text/javascript" src="./Content/saudiceos_files/jssocials.js.download"></script>
    <link rel="stylesheet" type="text/css" href="./Content/saudiceos_files/jssocials-theme-flat.css">
    <script type="text/javascript">

$(document).ready(function(){






$("#share").jsSocials({

    showLabel: false,
    showCount: false,
    shares: ["email", "twitter", "linkedin","whatsapp"]
});



   });


    </script>


</head>

<body class="rtl" data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="">
    <section id="wrapper">
        <header class="main-header">
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async="" src="./_files/js"></script>
            <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142052280-1');
            </script>
            <!-- <div class="top-header">
              <div class="container">
                <div class="top-social">
                  <a href="https://www.linkedin.com/company/saudiceos" target="_blank" class="fa fa-linkedin"></a>
                  <a href="https://twitter.com/saudiceos?lang=ar" target="_blank" class="fa fa-twitter"></a>
                </div>
              </div>
            </div> -->
            <nav class="navbar navbar-default no-radius no-margin no-border main-nav" role="navigation">
                <div class="container">
                    <div class="mobile-nav-wrapper">
                        <div class="mobile-header-container">
                            <div class="mobile-header__logo">
                                <a href="http://saudiceos.com/">
                                    <img src="./Content/saudiceos_files/saudiceoslogo.svg" class="img-responsive header-logo" alt="logo">
                                </a>
                            </div>
                            <div class="mobile-header__burger-menu">
                                <button type="button" class="mobile-header__toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="header-wrapper">
                            <div class="header-logo-container">
                                <a href="http://saudiceos.com/">
                                    <img src="./Content/saudiceos_files/saudiceoslogo.svg" class="img-responsive header-logo" alt="logo">
                                </a>
                            </div>
                            <div class="header-nav-container">
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                    <ul class="header-nav">
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/">الرئيسية</a></li>
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/saudiexecutives/news/%D8%A7%D9%84%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1.html">الأخبار</a></li>
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/saudiexecutives/knowledgecenter/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D9%85%D8%B9%D8%B1%D9%81%D8%A9.html">مركز المعرفة</a></li>
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/saudiexecutives/guide/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84.html">الدليل</a></li>
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/saudiexecutives/polarization/%D8%A7%D8%B3%D8%AA%D9%82%D8%B7%D8%A7%D8%A8.html">استقطاب</a></li>
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/saudiexecutives/editor/173/%D9%85%D9%86-%D9%86%D8%AD%D9%86.html">من نحن</a></li>
                                        <li class="header-nav__item"><a class="header-nav__link" href="http://saudiceos.com/saudiexecutives/contact/%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7.html">اتصل بنا</a></li>
                                    </ul>
                                </div>
                            </div> <!-- End header-nav-container -->
                        </div> <!-- End header-wrapper -->
                    </div> <!-- End Row -->

                </div>
            </nav>
        </header><main class="main-content">

            <section class="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hero__content">
                                <h2 class="hero__text">
                                    مبادرة تعنى بشؤون "الرئيس التنفيذي" في السعودية.
                                </h2>
                                <div class="hero__links">
                                    <a href="http://saudiceos.com/saudiexecutives/guide/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84.html" class="btn btn-default--white">الدليل</a>
                                    <a href="http://saudiceos.com/saudiexecutives/knowledgecenter/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D9%85%D8%B9%D8%B1%D9%81%D8%A9.html" class="btn btn-default--white">مركز المعرفة</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Container -->
            </section> <!-- End of Hero Section -->

            <section class="home__news">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="section__heading">اخر الأخبار</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">

                            <a href="http://saudiceos.com/saudiexecutives/detailsmynews/147/%D8%A7%D8%B3%D8%AA%D9%82%D8%A7%D9%84%D8%A9-%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2-%D8%A7%D9%84%D8%B9%D8%AB%D9%8A%D9%85-%D8%A7%D9%84%D8%B1%D8%A6%D9%8A%D8%B3-%D8%A7%D9%84%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A-%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D8%A3%D8%B3%D9%88%D8%A7%D9%82-%D8%A7%D9%84%D8%B9%D8%AB%D9%8A%D9%85">
                                <div class="news__featured">
                                    <figure class="news__featured__image">
                                        <img src="./Content/saudiceos_files/587adbe7831464fef1e456d4fdfd35b7.jpeg" alt="استقالة عبدالعزيز العثيم الرئيس التنفيذي لشركة أسواق العثيم" class="img-responsive">
                                    </figure>
                                    <div class="news__featured__details">
                                        <h3 class="news__featured__heading">استقالة عبدالعزيز العثيم الرئيس التنفيذي لشركة أسواق العثيم</h3>
                                        <p class="news__date"><i class="fa fa-calendar"></i> 29-08-2021</p>
                                        <p class="news__excerpt">أعلنت شركة أسواق عبد الله العثيم عن موافقة مجلس الإدارة على قبول استقالة الرئيس التنفيذي للشركة الاستاذ/ عبد العزيز بن عبد الله بن صالح العثيم،…</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 no-gutter">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <a href="http://saudiceos.com/saudiexecutives/detailsmynews/146/%D8%B7%D8%A7%D8%B1%D9%82-%D8%A7%D9%84%D9%86%D8%B9%D9%8A%D9%85-%D8%B1%D8%A6%D9%8A%D8%B3%D8%A7%D9%8B-%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A7%D9%8B-%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D9%86%D9%82%D9%84-%D9%88%D8%AA%D9%82%D9%86%D9%8A%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D9%8A%D8%A7%D9%87">
                                    <div class="home__news__cards">
                                        <h3>طارق النعيم رئيساً تنفيذياً لشركة نقل وتقنيات المياه</h3>
                                        <div class="news__date">
                                            <span><i class="fa fa-calendar"></i>  22-08-2021</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <a href="http://saudiceos.com/saudiexecutives/detailsmynews/145/%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2-%D8%A7%D9%84%D8%B2%D9%8A%D8%AF-%D8%B1%D8%A6%D9%8A%D8%B3%D8%A7%D9%8B-%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A7%D9%8B-%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D9%84%D8%A7%D8%AD%D8%A9-%D8%A7%D9%84%D8%AC%D9%88%D9%8A%D8%A9-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9">
                                    <div class="home__news__cards">
                                        <h3>عبدالعزيز الزيد رئيساً تنفيذياً لشركة خدمات الملاحة الجوية السعودية</h3>
                                        <div class="news__date">
                                            <span><i class="fa fa-calendar"></i>  22-08-2021</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <a href="http://saudiceos.com/saudiexecutives/detailsmynews/144/%D8%B3%D8%B9%D8%AF-%D8%A7%D9%84%D9%82%D8%AD%D8%B7%D8%A7%D9%86%D9%8A-%D8%B1%D8%A6%D9%8A%D8%B3%D8%A7%D9%8B-%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A7%D9%8B-%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D8%A7%D9%84%D9%85%D8%B1%D8%B4%D8%AF-%D8%A7%D9%84%D9%82%D8%A7%D8%A8%D8%B6%D8%A9">
                                    <div class="home__news__cards">
                                        <h3>سعد القحطاني رئيساً تنفيذياً لشركة المرشد القابضة</h3>
                                        <div class="news__date">
                                            <span><i class="fa fa-calendar"></i>  22-08-2021</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <a href="http://saudiceos.com/saudiexecutives/detailsmynews/143/%D8%B1%D8%A7%D8%A6%D8%AF-%D8%A7%D9%84%D8%A5%D8%AF%D8%B1%D9%8A%D8%B3%D9%8A-%D8%B1%D8%A6%D9%8A%D8%B3%D8%A7%D9%8B-%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A7%D9%8B-%D9%84%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9-%D9%84%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D8%A3%D8%B1%D8%B6%D9%8A%D8%A9">
                                    <div class="home__news__cards">
                                        <h3>رائد الإدريسي رئيساً تنفيذياً للشركة السعودية للخدمات الأرضية</h3>
                                        <div class="news__date">
                                            <span><i class="fa fa-calendar"></i>  09-08-2021</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <a href="http://saudiceos.com/saudiexecutives/detailsmynews/142/%D8%A8%D9%86%D8%AF%D8%B1-%D8%A7%D9%84%D8%B4%D9%85%D8%B1%D9%8A-%D8%B1%D8%A6%D9%8A%D8%B3%D8%A7%D9%8B-%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A7%D9%8B-%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D8%B1%D8%A7%D9%8A%D8%A9-%D9%84%D9%84%D8%AA%D9%85%D9%88%D9%8A%D9%84">
                                    <div class="home__news__cards">
                                        <h3>بندر الشمري رئيساً تنفيذياً لشركة راية للتمويل</h3>
                                        <div class="news__date">
                                            <span><i class="fa fa-calendar"></i>  07-07-2021</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <a href="http://saudiceos.com/saudiexecutives/detailsmynews/141/%D8%A7%D8%B3%D8%AA%D9%82%D8%A7%D9%84%D8%A9-%D9%81%D9%87%D8%AF-%D8%A7%D9%84%D8%B3%D8%AF%D9%8A%D8%B1%D9%8A-%D8%A7%D9%84%D8%B1%D8%A6%D9%8A%D8%B3-%D8%A7%D9%84%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A-%D9%84%D9%80%D9%84%D8%B4%D8%B1%D9%83%D8%A9-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9-%D9%84%D9%84%D9%83%D9%87%D8%B1%D8%A8%D8%A7%D8%A1">
                                    <div class="home__news__cards">
                                        <h3>استقالة فهد السديري الرئيس التنفيذي لـلشركة السعودية للكهرباء</h3>
                                        <div class="news__date">
                                            <span><i class="fa fa-calendar"></i>  09-06-2021</span>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="http://saudiceos.com/saudiexecutives/news/%D8%A7%D9%84%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1.html" class="btn btn-default--green">المزيد</a>
                        </div>
                    </div>
                </div> <!-- End Container -->
            </section> <!-- End of Latest News Section -->


            <section class="matching-service">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="matching__content">
                                <h2 class="section__heading--white">خدمة استقطاب</h2>
                                <p class="matching__text">
                                    نسعى من خلال خدمة " استقطاب " إلى مساعدة عملائنا من الشركات في الوصول إلى الكفاءات السعودية القادرة على تحقيق أهدافهم.
                                </p>
                                <div class="matching__links">
                                    <a href="http://saudiceos.com/saudiexecutives/polarization/%D8%A7%D8%B3%D8%AA%D9%82%D8%B7%D8%A7%D8%A8.html" class="btn btn-green">المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Container -->
            </section> <!-- End of Matching Service Section -->

            <section class="home__daleel">
                <div class="container">
                    <div class="row">
                        <h2 class="section__heading">الدليل</h2>
                    </div>
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4">

                            <a href="http://saudiceos.com/saudiexecutives/detailsdaleel/5/%D8%B7%D8%A7%D8%B1%D9%82-%D8%A8%D9%86-%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B1%D8%AD%D9%85%D9%86-%D8%A7%D9%84%D8%B3%D8%AF%D8%AD%D8%A7%D9%86">
                                <div class="daleel__card">
                                    <figure class="daleel__card__figure">
                                        <img src="./Content/saudiceos_files/e42c9f05fabbb8e09981e19af24bb1e6.jpg" alt="طارق بن عبدالرحمن السدحان" class="daleel__card__pic img-responsive">
                                    </figure>
                                    <div class="daleel__card__details">
                                        <div class="daleel__card__name"> طارق بن عبدالرحمن السدحان</div>
                                        <div class="daleel__card__role">الرئيس التنفيذي لبنك الرياض</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                            <a href="http://saudiceos.com/saudiexecutives/detailsdaleel/142/%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2-%D8%A8%D9%86-%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D9%84%D9%87-%D8%A7%D9%84%D8%AF%D8%B9%D9%8A%D9%84%D8%AC">
                                <div class="daleel__card">
                                    <figure class="daleel__card__figure">
                                        <img src="./Content/saudiceos_files/48fff9080af98a5d512df291f009c131.jpg" alt="عبدالعزيز بن عبدالله الدعيلج" class="daleel__card__pic img-responsive">
                                    </figure>
                                    <div class="daleel__card__details">
                                        <div class="daleel__card__name"> عبدالعزيز بن عبدالله الدعيلج</div>
                                        <div class="daleel__card__role">الرئيس التنفيذي لشركة الإلكترونيات المتقدمة</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                            <a href="http://saudiceos.com/saudiexecutives/detailsdaleel/119/%D8%A5%D8%A8%D8%B1%D8%A7%D9%87%D9%8A%D9%85-%D8%A8%D9%86-%D9%81%D9%87%D8%AF-%D8%A7%D9%84%D8%B9%D8%B3%D8%A7%D9%81">
                                <div class="daleel__card">
                                    <figure class="daleel__card__figure">
                                        <img src="./Content/saudiceos_files/cbe3f1b93aef6b97334d9a4e831d0479.jpg" alt="إبراهيم بن فهد العساف" class="daleel__card__pic img-responsive">
                                    </figure>
                                    <div class="daleel__card__details">
                                        <div class="daleel__card__name"> إبراهيم بن فهد العساف</div>
                                        <div class="daleel__card__role">الرئيس التنفيذي لشركة مشاركة المالية</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="http://saudiceos.com/saudiexecutives/guide/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84.html" class="btn btn-default--green">عرض الدليل</a>
                        </div>
                    </div>
                </div> <!-- End Container -->
            </section> <!-- End of Daleel Section -->

        </main><footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <ul class="list-unstyled">
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/">الرئيسية</a>
                            </li>
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/saudiexecutives/polarization/%D8%A7%D8%B3%D8%AA%D9%82%D8%B7%D8%A7%D8%A8.html">الاستقطاب</a>
                            </li>
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/saudiexecutives/news/%D8%A7%D9%84%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1.html">الأخبار</a>
                            </li>
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/saudiexecutives/editor/173/%D9%85%D9%86-%D9%86%D8%AD%D9%86.html">من نحن</a>
                            </li>
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/saudiexecutives/knowledgecenter/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D9%85%D8%B9%D8%B1%D9%81%D8%A9.html">مركز المعرفة</a>
                            </li>
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/saudiexecutives/contact/%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7.html">اتصل بنا</a>
                            </li>
                            <li class="col-sm-6 col-xs-6">
                                <a class="footer__link" href="http://saudiceos.com/saudiexecutives/guide/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84.html">الدليل</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-4" align="center">
                        <img src="./Content/saudiceos_files/saudiceoslogo-white.png" class="img-responsive footer__logo" alt="logo">
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="footer__social">
                            <a href="https://www.linkedin.com/company/saudiceos" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                            <a href="https://twitter.com/saudiceos?lang=ar" target="_blank"><i class="fa fa-twitter-square"></i></a>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer__copyright">
                            <p>جميع الحقوق محفوظة ل <span>الرؤساء التنفيذيون السعوديون</span> 2019</p>
                        </div>
                    </div>
                </div>
            </div> <!-- End Container -->
        </footer>

    </section>

    <script type="text/javascript" src="./Content/saudiceos_files/jquery.validate.js.download"></script>
    <script src="./Content/saudiceos_files/bootstrap.min.js.download"></script>

    <script src="./Content/saudiceos_files/owl.carousel.min.js.download"></script>
    <script src="./Content/saudiceos_files/scripts.0.0.1.js.download"></script>

    <script type="text/javascript">


  $("a.linkadver").click(function(event){

     $idadver=$(this).attr('id');

	 var file ="http://saudiceos.com/saudiexecutives/increazeclickadver/"+ $idadver;
	   $.ajax({
	 type: "GET",
  url: file,
  async: false,
  datatype:"html"
});
   });

        	 $("#reservation").validate({
 submitHandler: function() {
 	  $(".reservationresult").html('<img src="http://saudiceos.com/assetssite/img/mail.GIF">');
$.ajax({
   type: "POST",
   url: "http://saudiceos.com/saudiexecutives/addreservations",
data: "name="+$('#name').val()+"&email="+$('#email').val()+"&telephone="+$('#telephone').val()+"&service="+$('#service').val()+"&note="+$('#note').val(),
   success: function(msg){
	   $("#name").val("");
	    $("#email").val("");
		 $("#telephone").val("");
		  $("#service").val("");
		   $("#note").val("");
   $(".reservationresult").html(msg);
   }
 });

   }

 });




  $("#registerform").validate({ });
   $("#registerformm").validate({ });

 		       	 $("#contactform").validate({
 submitHandler: function() {
 	  $(".contactresult").html('<img src="http://saudiceos.com/assetssite/img/mail.GIF">');
$.ajax({
   type: "POST",
   url: "http://saudiceos.com/saudiexecutives/addcontact",
data: "name="+$('#contactname').val()+"&email="+$('#contactemail').val()+"&mobile="+$('#contactmobile').val()+"&comment="+$('#contactcomment').val()+"&topic="+$('#contacttopic').val(),
   success: function(msg){
	    $("#contactname").val("");
	    $("#contactemail").val("");
		 $("#contactmobile").val("");
		  $("#contactcomment").val("");
		   $("#contacttopic").val("");

   $(".contactresult").html(msg);
   }
 });

   }

 });







    </script>




    <a id="scrollUp" href="http://saudiceos.com/#top" title="&lt;i class=&quot;fa fa-angle-up&quot;&gt;&lt;/i&gt;" style="position: fixed; z-index: 1001; display: none;"><i class="fa fa-angle-up"></i></a>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>