@{
    Layout = null;
}
 

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <title>التنفيذيون السعوديون</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/Content/assets/ng/favicon.ico">
    <style>
        @@charset "UTF-8";@@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@300;*,:after,:before{box-sizing:border-box;}@@media (prefers-reduced-motion: no-preference){:root{scroll-behavior:smooth;}}body{font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}body{direction:rtl;text-align:right;}@@media only screen and (max-width: 767px){body{font-size:14px;}}@@media only screen and (min-width: 768px) and (max-width: 991px){body{font-size:14px;}}body{background-color:#fff;padding:0;margin:0;font-size:15px;font-family:Tajawal,sans-serif;}body{color:#080a3c;}body::-webkit-scrollbar{width:12px;}body::-webkit-scrollbar-track{background:#fff;}body::-webkit-scrollbar-thumb{background:#4a6f8a33;border-radius:20px;border:3px solid #fff;}
        figure.image.image_resized {
            max-width: 100%;
            display: block;
            box-sizing: border-box;
        }

        figure.image-style-side {
            float: right;
            margin-left: var(--ck-image-style-spacing);
            max-width: 50%;
        }

        figure.image {
            display: table;
            clear: both;
            text-align: center;
            margin: 0.9em auto;
            min-width: 50px;
        }

        figure.image-inline {
            position: relative;
            display: inline-flex;
            max-width: 100%;
            align-items: flex-start;
        }

        figure img {
            max-width: 100% !important;
        }
    </style>
    <link rel="stylesheet" href="/Content/assets/ng/styles.css" media="print" onload="this.media='all'" >
    <noscript > <link rel="stylesheet" href="/Content/assets/ng/styles.css" > </noscript >
    </head >
    <body >
    <app-root > </app-root >
    <script src="/Content/assets/ng/runtime.js" defer > </script >
    <script src="/Content/assets/ng/polyfills.js" defer > </script >
    <script src="/Content/assets/ng/scripts.js" defer > </script >
    <script src="/Content/assets/ng/main.js" defer > </script >

    </body >
    </html >