<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>تسويق فور يو</title>
    <!-- styles -->
    <!-- bootstrap  4.3 css -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <!-- owl carousel style  -->
    <script src="https://kit.fontawesome.com/cb6f815ae2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
    <!-- your custom style -->
    <!-- <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="/Content/css/styleLtr.css">

    <!-- styles -->
</head>

<body>
    <header class="header">
        <div class="top_nav">
            <div class="container topNavContainer">
                <div class="row ">
                    <div class="col-6 colNav lang">
                        <span><a href="#">English</a></span>
                        <span class="country">
                            <a href="#">
                                <img src="/Content/images/egypt.png" alt="egypt">
                            </a>
                        </span>
                        <span class="country">
                            <a href="#">
                                <img src="/Content/images/kuwait.png" alt="kuwait">
                            </a>
                        </span>
                    </div>

                    <div class="col-6 text-left   colNav">
                        <div class="navLeftBox">
                            <a class="dropdown-toggle social" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                محمد حسن
                            </a>
                            <a class="social" href="#"><span class="fab fa-facebook-f"></span></a>
                            <a class="social" href="#"><span class="fab fa-twitter"></span></a>
                            <a class="social" href="#"><span class="fab fa-instagram"></span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="dashSetting.html">الاعدادات</a>
                                <a class="dropdown-item" href="#">تعديل الملف الشخصي</a>
                                <a class="dropdown-item" href="#">تغيير البيانات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
                <a class="btn btnaddPro add-btn" href="addnewproduct.html">انشر اعلان</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">

                            <a class="nav-link" href="index.html"> <i class="fas fa-home"></i> الرئيسية<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown dropdown-large">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-list"></i> الفئات
                            </a>
                            <div class=" dropdown-menu dropdown-menu-large text-right" aria-labelledby=" ">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul>

                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left"> اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left"> اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>

                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>

                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left"> اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left"> اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>

                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>

                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left"> اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left"> اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">اتوبيسات </i></a></li>
                                            <li><a href="carAcces.html"><i class="fas fa-chevron-left">عربيات</i></a></li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="fav.html">
                                <i class="fa  fa-heart-o"></i> المفضلة
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="chat.html">
                                <i class="fa fa-envelope-o"></i> الرسائل
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutUs.html">
                                من نحن
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link add-btn" href="addnewproduct.html">
                                <i class="fas fa-plus"></i> انشر اعلان
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
   
        @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="/Content/images/footer-logo.png">
                    <div class="social fotter-details">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-title">
                        <i class="fas fa-home"></i>
                        <a href="index.html">الرئيسيه</a>
                    </div>
                    <div class="fotter-details">
                        <a href="index.html"><i class="fas fa-chevron-left"></i> كل التصنيفات </a>
                        <br>
                        <a href="index.html"><i class="fas fa-chevron-left"></i> الإعلانات المميزة </a>
                        <br>
                        <a href="index.html"><i class="fas fa-chevron-left"></i> احدث الإعلانات </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-title">
                        <i class="fas fa-list"></i>
                        <a href="index.html">الفئات</a>
                    </div>
                    <div class="row fotter-details">
                        <div class="col-6">
                            <a href="index.html"><i class="fas fa-chevron-left"></i> سيارات و مركبات </a>
                            <br>
                            <a href="index.html"><i class="fas fa-chevron-left"></i> عقارات و مباني </a>
                            <br>
                            <a href="index.html"><i class="fas fa-chevron-left"></i> هواتف محموله </a>
                        </div>
                        <div class="col-6">
                            <a href="index.html"><i class="fas fa-chevron-left"></i> اجهزة كهربيه </a>
                            <br>
                            <a href="index.html"><i class="fas fa-chevron-left"></i> تجاره و صناعه </a>
                            <br>
                            <a href="index.html"><i class="fas fa-chevron-left"></i> خدمات اخرى </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-title">
                        <i class="fas fa-info-circle"></i>
                        من نحن
                    </div>
                    <p class="fotter-details">
                        هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها في هذا المكان و حجم و لون الخط
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="footer-title">
                        <i class="fas fa-phone-alt"></i>
                        اتصل بنا
                    </div>
                    <p class="fotter-details">
                        002010092300012
                        <br>
                        002011590783330
                    </p>
                </div>
            </div>

            <hr style="background-color: #fff">

            <div class="row">
                <Div class="col-md-6 left-footer">
                    <a href="#" class="b">قواعد السلامة</a>
                    <a href="#" class="b">سياسه الخصوصيه</a>
                    <a href="#">شروط الاستخدام</a>
                </Div>
                <Div class="col-md-6 right-footer">
                    جميع الحقوق محفوظه لدى تسويق 2019
                </Div>
            </div>

        </div>
    </footer>



    <!-- jQuery 3.4 -->
    <script src="/Content/js/jQuery_3.4.1.js"></script>
    <!-- popper -->
    <script src="https://unpkg.com/popper.js"></script>
    <!-- bootstrap 4.3 -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="/Content/js/owl.carousel.min.js"></script>
    <!-- your custom js -->
    <script src="/Content/js/custom.js"></script>
    <script>
        $(function () {
            $(".single-cat").click(function () {
                $(".hidden-row").slideToggle(300);
            });

            $(".single-cat1").click(function () {
                $(".hidden-row1").slideToggle(300);
            });
        });
    </script>

</body>

</html>